# Folders
Output/*
Readings/*
Temporary/*

# R Stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Miscellaneous
.DS_Store

# Large data files and model outputs
Code/complaint-prediction/data/*
Code/complaint-prediction/models/*